@using Blazor.EditForms.Components
@page "/WeatherEditor/{ID:guid}"

<EditForm EditContext="this._editContent">
    <EditFormState EditStateChanged="this.OnEditStateChanged"></EditFormState>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6">
                <FormEditControl Label="Date" ShowLabel="true" @bind-Value="this.ViewService.Record.Date" ControlType="typeof(InputDate<DateTime>)" IsRequired="true" ShowValidation="true" HelperText="Enter the Forecast Date"></FormEditControl>
            </div>
            <div class="col-12 col-md-6">
                <FormEditControl Label="Temperature &deg;C" ShowLabel="true" @bind-Value="this.ViewService.Record.TemperatureC" ControlType="typeof(InputNumber<int>)" IsRequired="true" ShowValidation="true" HelperText="Enter the Temperature"></FormEditControl>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <FormEditControl Label="Summary" ShowLabel="true" @bind-Value="this.ViewService.Record.Summary" IsRequired="true" ShowValidation="true" HelperText="Summarise the Weather"></FormEditControl>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-right">
                <UIButton class="btn-success" Disabled="!this.IsDirty" ClickEvent="this.SaveRecord">Save</UIButton>
                <UIButton class="btn-dark" Disabled="this.IsDirty" ClickEvent="this.Exit">Exit</UIButton>
            </div>
        </div>
    </div>
</EditForm>
